%h1 GoalaRama!
%p Make up some goals so you can see visually how much you disappoint your self at the end of the year!

%p 
  - if user_signed_in?
    = link_to "Create a New Goal!", new_user_goal_path(current_user), class: 'btn btn-danger'
  - else
    = link_to "Get Started!", new_user_registration_path, class: 'btn btn-danger'
