%h1 GoalaRama!
%p Make up some goals so you can see visually how much you disappoint your self at the end of the year!

-# TODO: Make sure there is a GuestUser when no one is signed in
-# %p= link_to "Create a New Goal!", new_user_goal_path(current_user)
